version: '3'
services:
  nginx: 
    image: nginx:latest
    container_name: scj_nginx
    volumes:
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf
    restart: always
    ports:
      - 80:80

  frontend:
    image: scj_frontend:latest
    build:
        context: ./frontend
        dockerfile: Dockerfile
    container_name: scj_frontend
    restart: always
    expose:
      - "8080"

  backend:
    image: scj_backend:latest
    build:
        context: ./backend/cookiejar
        dockerfile: Dockerfile
    container_name: scj_backend
    restart: always
    expose:
      - "8080"
    env_file:
      - secrets.env
    environment:
      MYSQL_DB_HOST: db
      MYSQL_DB_PORT: 3306

  db:
    image: mysql:5.7
    container_name: scj_database
    volumes:
      - "./db_data:/var/lib/mysql"
    restart: always
    env_file:
      - secrets.env