mqtt.uri=mqtt://${MQTT_USERNAME}:${MQTT_PASSWORD}@${MQTT_SERVER}:${MQTT_PORT}
#change to update or none later, since database will be created only once
spring.jpa.hibernate.ddl-auto=create
spring.datasource.url=${MYSQL_DB_HOST}:${MYSQL_DB_PORT}/${MYSQL_NAME_OF_DB}
spring.datasource.username=${MYSQL_DB_USERNAME}
spring.datasource.password=${MYSQL_DB_PASSWORD}