
# Created by https://www.gitignore.io/api/platformio,visualstudiocode
# Edit at https://www.gitignore.io/?templates=platformio,visualstudiocode

### PlatformIO ###
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json

### VisualStudioCode ###
.vscode/*

# End of https://www.gitignore.io/api/platformio,visualstudiocode

src/secret.h