@import "mixins.styl"

// Font
$primary-font-family = 'Pacifico', cursive;
$regular-font-family = 'Open Sans', sans-serif;
$mono-font-family = 'Roboto Mono', monospace;

// Sizes
$header-font-size = 8vmin;
$primary-font-size = $header-font-size * 0.25;
$secondary-font-size = $header-font-size * 0.25;
$small-font-size = $secondary-font-size * 0.75;

$max-width = 600px;
$cookie-width = (1 / 1.61) * 100 + "%";

// Colors
$background-color = #7F7A73;
$primary-font-color = #FFF5E7;

// Media
$media-modal = media(width 400px);

// Modal Media Settings
$modal-max-width = 400px;
$modal-header-font-size = 40px;
$modal-primary-font-size = 22px;
$modal-secondary-font-size = 12px;
$modal-small-font-size = 12px;
